@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

li, a, button{
    font-family: "Andika New Basic",sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    border: solid;
}

.nav_links{
    list-style: none; 
    overflow: hidden;
}

.nav_links li{
    vertical-align: middle;
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9;
}

button{
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(0,136,169,0.8);
}

.nav-menu-link {
    color: var(--dark-light);
    text-decoration: none;
    display: block;
    padding: 3%;
    display: flex;
    justify-content: space-between;
}

.container-sub-menu {
    width: 100%;
    height: 0%;
    /* transition: max-height 0.3s ease; */
    transition: all 0.3s ease 0s;
}

.sub-menu-ul {
    visibility: hidden;
    width: 100%;
    height: 0%;
    /* display: flex;
    flex-direction: column;
    padding-right: 1rem; */
}

.sub-menu-ul > li{
    display: block;
    list-style: none;    
}

.nav_links > .nav-menu-item {
    
    position: absolute;
    height: 5%;
    /* display: flex;
    flex-direction: column; */
}

/* .sub-menu-ul > .nav-menu-link {
    visibility: hidden;
} */

.nav-menu-item:hover > .container-sub-menu {
    /* border: solid; */
    visibility: visible;
    position: absolute;
    width: 200%;
    height: 400%;
    left: 0%;
    top: 100%;
    /* background: var(--dark-lighten); */
    /* padding: 1rem;
    position: absolute;
    top: 56px;
    display: flex;
    flex-wrap: wrap;
    -moz-box-shadow: 1px 6px 18px rgba(94, 94, 94, 0.5); */
    /*FF 3.5+*/
    /* -webkit-box-shadow: 1px 6px 18px rgba(94, 94, 94, 0.5); */
    /*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    /* box-shadow: 1px 6px 18px rgba(94, 94, 94, 0.5); */
    /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
}

.nav-menu-item:hover .sub-menu-ul{
    visibility: visible;
}

/* -------- Ejemplo positions ------------*/

.padre{
    width: 250px;
    height: 250px;
    margin : 25px;
    background-color: orange;
    /* position: relative; */
}

/* .padre > div{
    display: inline-block;
    vertical-align: middle;
} */

.hijo1{
    /* position: static; Valor por defecto, y ubica al objeto en la esquina superior izquierda, además de no tener en cuenta las coordenadas */
    /* position: relative; relative: ubica el objeto hijo en las coordenadas ingresadas respecto al objeto padre */
    /* top: 50px;
    left: 120px; */
    /* position: absolute; absolute: hace parecer que el objeto no interactua con los demás objetos en cuestión de posicionamiento, además se ubica respecto al primer padre que tenga un position diferente a absolute */
    /* top: 0px; */
    position: fixed; /*fixes: las coordenadas del objeto se ubican respecto al body*/
    top: 0px;
    width: 50px;
    height: 50px;
    background-color: red;
}

.hijo2{
    /* top: 50px;
    left: 120px; */
    width: 100px;
    height: 100px;
    background-color: white;
}


.caja1{
    /* border: solid; */
    display: inline-block;
    padding: 10px;
    width: 100px;
    height: 110px;
    position: relative;
    /* overflow: hidden; */
}

.caja2{
    position: absolute;
    top: 0%;
    left: 100%;
    border: solid;
    border-color: red;
    display: inline-block;
    width: 0%;
    height: 0%;
    transition: all 0.3s ease 0s;
    /* padding: 10px; */
}

.caja1:hover{
    background-color: green;
    /* overflow: visible; */
}

.caja1:hover > .caja2{
    background-color: indigo;
    width: 100%;
    height: 100%;
}

.sub-menu{
    border: solid;
    visibility: hidden;
}

.sub-menu > li{
    display: block;
    list-style: none;
    background-color: green;
}

.caja1:hover .sub-menu{
    visibility: visible;
}

